<div class="ui left demo vertical inverted sidebar labeled icon menu visible">
    <div class="item">
        <img src="/{{ pp_path }}" alt="Profile Picture" class="ui tiny circular image">
        <br> Administrator <br>
        <button class="mini ui button" style="margin-top: 8px" onclick="showModal('pp_change');">
            <i class="camera icon"></i>
            Change
        </button>
    </div>
    <!--<a class="item" style="
    padding-top: 36px;">
    </a>-->
    <a href="/admin" class="item">
        <i class="home icon"></i>
        Home
    </a>
    <a href="/admin/create_user" class="item">
        <i class="user icon"></i>
        Add User
    </a>
    <a href="/user" class="item">
        <i class="newspaper outline icon"></i>
        User Page
    </a>
</div>