<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>{{ title }}</title>
</head>
<body>
<h1>Oops... What have you done</h1>
<p>The url you requested '{{ uri }}' doesn't work</p>
<a href="/">Go to Home</a>
</body>
</html>

