{{> public.header }}
<h1>{{ post_title }}</h1>
<div><i class="calendar alternate icon"></i>Created at: {{ created_at }}&nbsp;</div>
<div><i class="user icon"></i>By: {{ created_by }}</div>
<div><i class="tags icon"></i>Tags: {{ post_tags }}</div>
<br><br>
<div class="content" id="posted_content">
    {{ post_content }}
</div>
{{> public.footer }}
