{{> public.header }}

<h3>Create a Post</h3>
<form action="/user/create_post" method="post" class="ui form">
    <div class="field">
        <label for="title">Title</label>
        <input type="text" name="title" required id="title"><br>
    </div>
    <div class="field">
        <label for="tags">Tags</label>
        <input type="text" name="tags" required id="tags"><br>
    </div>
    <div class="field">
        <label for="content">Content</label>
        <textarea name="content" id="content" cols="100" rows="50"></textarea>
    </div>
    <button class="ui primary button" type="submit">Post!</button>
    <a href="/user" class="ui button">Cancel</a>
</form>
{{> public.footer }}