{{> public.header }}

<h3>Manage Tags</h3>

<button class="ui blue button" onclick="showModal('create_tag')">Create new tag</button>

<br><br><p>Tags List:</p>
<div class="ui equal width padded grid">
    <div class="row">
        <div class="column">
            <table class="ui selectable sortable celled table">
                <tr class="center aligned">
                    <th class="sorted ascending">Tag ID</th>
                    <th>Tag Name</th>
                    <th>Action</th>
                </tr>
                {{#tags_data}}
                    <tr class="center aligned">
                        <td>{{ tag_id }}</td>
                        <td>{{ tag_name }}</td>
                        <td>
                            <a href="/user/edit_tag?tag_id={{ tag_id }}"><i class="edit icon"></i></a> |
                            <a href="/user/delete_tag?tag_id={{ tag_id }}"><i class="x icon icon"></i></a>
                        </td>
                    </tr>
                {{/tags_data}}
            </table>
        </div>
        <div class="column"></div>
    </div>
</div>

<div class="ui tiny modal" id="create_tag">
    <i class="close icon"></i>
    <div class="header">Create a new Tag</div>
    <div class="content">
        <div class="ui form">
            <form action="/user/create_tag" method="post">
                <div class="field">
                    <label for="tag_name">Tag Name</label>
                    <input type="text" name="tag_name" id="tag_name" required><br>
                </div>
                <button type="submit" class="ui primary button">Create</button>
            </form>
        </div>
    </div>
</div>

<div class="ui tiny modal" id="edit_tag">
    <i class="close icon"></i>
    <div class="header">Edit Tag</div>
    <div class="content">
        <div class="description">
            If submitted value is blank, than previous value will be preserved.
        </div>
    </div>
</div>

{{> public.footer }}