

<div class="ui left demo vertical inverted sidebar labeled icon menu visible">
    <div class="item">
        <img src="/{{ pp_path }}" alt="Profile Picture" class="ui tiny circular image">
        <br> {{ user_name }} <br>
        <button class="mini ui button" style="margin-top: 8px" onclick="showModal('pp_change');">
            <i class="camera icon"></i>
            Change
        </button>
    </div>
    <!--<a class="item" style="
    padding-top: 36px;">
    </a>-->
    <a href="/user" class="item">
        <i class="home icon"></i>
        Home
    </a>
    <a href="/user/create_post" class="item">
        <i class="pencil alternate icon"></i>
        New Post
    </a>
    <a href="/user/tags" class="item">
        <i class="tags icon"></i>
        Tags
    </a>
</div>