{{> public.header}}

<div class="ui equal width padded grid">
    <div class="row">
        <div class="column">
            <div class="ui form">
                <form action="/user/edit_tag?tag_id={{ tag_id }}" method="post" id="edit_tag_form">
                <div class="field">
                    <label for="tag_name_edit">Tag New Name</label>
                    <input type="text" name="tag_name" id="tag_name_edit" required value="{{tag_name}}"><br>
                </div>
                <button type="submit" class="ui primary button">Edit</button>
                <a href="/user/tags" class="ui red button">Cancel</a>
                </form>
            </div>
        </div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>

{{> public.footer}}