{{> public.header }}

<div class="ui centered" id="login_grid">
    <div class="column">
        <h2 class="ui teal image header">Log-in to your account</h2>
        <form class="ui large form" action="/login_post" method="post">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <label for="username"></label>
                        <input type="text" name="username" placeholder="Username" required id="username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <label for="password"></label>
                        <input type="password" name="password" placeholder="Password" id="password" required>
                    </div>
                </div>
                <button class="ui fluid large teal submit button" type="submit" onclick="hashThenSend(document.getElementById('password').value)">Log in</button>
            </div>
        </form>
    </div>
</div>

<script src="../views/js/md5.js"></script>
<script>
    $(document).ready(()=>{
        $('#navbar').hide();
    });
    function hashThenSend(plaintext) {
        document.getElementById('password').value = md5(plaintext);
    }
</script>
{{> public.footer }}