{{> public.header }}

<h3>Edit post</h3>
<form action="/user/edit_post?post_id={{ post_id }}" method="post" class="ui form">
    <div class="field">
        <label for="title">Title</label>
        <input type="text" name="title" required id="title" value="{{ post_title }}"><br>
    </div>
    <div class="field">
        <label for="tags">Tags</label>
        <input type="text" name="tags" required id="tags" value="{{ post_tags }}"><br>
    </div>
    <div class="field">
        <label for="content">Content</label>
        <textarea name="content" id="content" cols="100" rows="50" >{{ post_content }}</textarea>
    </div>
    <button class="ui primary button" type="submit">Update Post!</button>
    <a href="/user" class="ui button">Cancel</a>
</form>
{{> public.footer }}