<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css">
    <link rel="stylesheet" href="../views/css/style.css" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="../views/js/script.js"></script>

</head>
<body>
<!--<div><a href="/">Home</a></div>-->
<div class="ui container">
    <div class="ui tablet computer only padded grid">
        <div class="ui top fixed borderless fluid huge menu">
            <div class="ui container">
                <a class="header item">Project Name</a>
                <a class="active item">Home</a> <a class="item">About</a>
                <a class="item">Contact</a>
            </div>
        </div>
    </div>

    <div class="ui" style="padding-top: 100px;">
